{{define "loggedin"}}
<!DOCTYPE html>
<html lang="en">
{{template "header"}}
<body>
<h3>Hello {{.name}}</h3>
<br>

<h3>Upload Bot</h3>
<form action="/lazy/loggedin/{{.competition}}/bot/upload/" method="post" enctype="multipart/form-data">
    File: <input type="file" name="file"><br>
    Package: <input type="text" name="package"><br>
    Note: <input type="text" name="note"><br>
    <br>
    <input type="submit" value="Upload Bot">
</form>
<br>

<h3>Challenge Bot</h3>
<form action="/lazy/loggedin/{{.competition}}/challenge/" method="post" enctype="multipart/form-data">
    Bot A Uuid: <input type="text" name="botUuid"><br>
    Bot B Uuid: <input type="text" name="oppUuid"><br>
    Map Uuid (optional): <input type="text" name="mapUuid"><br>
    <br>
    <input type="submit" value="Challenge Bot">
</form>
<br>

<h3>Upload Map</h3>
<form action="/lazy/loggedin/{{.competition}}/map/upload/" method="post" enctype="multipart/form-data">
    File: <input type="file" name="file"><br>
    Description: <input type="text" name="description"><br>
    <br>
    <input type="submit" value="Upload Map">
</form>
<br>

<h3>Play Round Robin</h3>
<form action="/lazy/loggedin/{{.competition}}/challenge-game/" method="post" enctype="multipart/form-data">
    Bot Uuids: <input type="text" name="botUuids"><br>
    Name: <input type="text" name="name"><br>
    Description: <input type="text" name="description"><br>
    Map Uuid (optional): <input type="text" name="mapUuid"><br>
    <br>
    <input type="submit" value="Start">
</form>
<br>

<h3>Latest Bots</h3>
{{range .latest_bots}}
uuid: {{.Uuid}}<br>
package: {{.Package}}<br>
note: {{.Note}}<br>
status: {{.Status}}<br>
{{end}}
<br>

<h3>Make Bot Public</h3>
<form action="/lazy/loggedin/{{.competition}}/bot/public/" method="post" enctype="multipart/form-data">
    Bot Uuid: <input type="text" name="botUuid"><br>
    <br>
    <input type="submit" value="Make Public">
</form>
<br>

<h3>View Public Bots</h3>
<a href="/lazy/loggedin/{{.competition}}/bot/public/">link</a>

<h3>Latest Matches:</h3>
{{range .latest_matches}}
bots: {{range .Bots}} {{.Package}} {{end}}<br>
winner: {{.Winner}}<br>
time: {{.Status}}<br>
<a href="/viewer/{{.Competition}}/?{{.Uuid}}/result/replay">replay</a><br>
{{end}}
<br>

<h3>Latest Maps:</h3>
{{range .latest_maps}}
uuid: {{.Uuid}}<br>
name: {{.Name}}<br>
description: {{.Description}}<br>
{{end}}
{{template "resource"}}
</body>
</html>
{{end}}
