{{define "loggedin"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Battlecode Ladder</title>
</head>
<body>
    Hello {{.name}}<br>
    Your Uuid is {{.uuid}}<br>
    <br>
    <form action="/lazy/loggedin/upload/" method="post" enctype="multipart/form-data">
        File: <input type="file" name="file"><br>
        Name: <input type="text" name="name"><br>
        Package: <input type="text" name="package"><br>
        <br>
        <input type="submit" value="Upload">
    </form><br>

    <form action="/lazy/loggedin/challenge/" method="post" enctype="multipart/form-data">
        Opponent Uuid: <input type="text" name="opponentUuid"><br>
        <br>
        <input type="submit" value="Challenge">
    </form><br>
    Latest Completed Build<br>
    {{.latest_complete_build}}<br>
    <br>
    Latest Matches:<br>
    {{range .latest_matches}}
        bots: {{range .Bots}} {{.Package}} {{end}}<br>
        time: {{.CompletedTimestamp}}<br>
        <a href="/viewer/?{{.Uuid}}">replay</a><br>
    {{end}}
</body>
</html>
{{end}}
