{{define "loggedin"}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Battlecode Ladder</title>
</head>
<body>
    Hello {{.}}<br>
    <br>
    <form action="/lazy/loggedin/upload/" method="post" enctype="multipart/form-data">
        File: <input type="file" name="file"><br>
        Name: <input type="text" name="name"><br>
        Package: <input type="text" name="package"><br>
        <br>
        <input type="submit" value="Submit">
    </form>
</body>
</html>
{{end}}