{{define "loggedin"}}
<!DOCTYPE html>
<html lang="en">
{{template "header"}}
<body>
    Hello {{.name}}<br>
    Your Uuid is {{.uuid}}<br>
    <br>
    <form action="/lazy/loggedin/upload/" method="post" enctype="multipart/form-data">
        File: <input type="file" name="file"><br>
        Package: <input type="text" name="package"><br>
        Note: <input type="text" name="note"><br>
        <br>
        <input type="submit" value="Upload">
    </form><br>

    <form action="/lazy/loggedin/challenge/" method="post" enctype="multipart/form-data">
        Bot Uuid: <input type="text" name="botUuid"><br>
        Opponent Uuid: <input type="text" name="oppUuid"><br>
        <br>
        <input type="submit" value="Challenge">
    </form><br>
    Latest Bots<br>
    {{range .latest_bots}}
        {{.}}<br>
        {{.Status}}<br>
    {{end}}
    <br>
    Latest Matches:<br>
    {{range .latest_matches}}
        bots: {{range .Bots}} {{.Package}} {{end}}<br>
        time: {{.Status}}<br>
        <a href="/viewer/?{{.Uuid}}">replay</a><br>
    {{end}}
</body>
</html>
{{end}}
