{{define "root"}}
<!DOCTYPE html>
<html lang="en">
{{template "header"}}
<body>
    <a href="/lazy/login/">Login</a><br>
    <br>
    <a href="/lazy/loggedin/">Continue</a>
    <p>
        This site uses cookies for authentication. This page by itself does not use any cookies. By logging in you have
        agreed to use cookies because I'm too lazy to implement other forms of authentication.
    </p>
    <p>
        Specs for battlecode can be found <a href="https://www.battlecode.org/contestants/releases/">here</a>.
    </p>
</body>
</html>
{{end}}
